*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: repeating-linear-gradient(
    -45deg,
    #8a4222,
    #8a4222 4px,
    #8e4423 4px,
    #8e4423 28px
  );
}
a {
  text-decoration: none;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 80%;
}
header div {
  display: flex;
}
