*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: repeating-linear-gradient(
    -45deg,
    #8a4222,
    #8a4222 4px,
    #8e4423 4px,
    #8e4423 28px
  );
}
a {
  text-decoration: none;
}
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: 16px;
} */
/* h1 {
  font-size: 1.875rem;
} */
.App {
  max-width: 1200px;
  margin: 0 auto;
}
